.nav {
  height: 85px;
  @apply bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900  border-gray-200 border-b-2;
  &-container {
    @apply container flex flex-wrap justify-between items-center mx-auto;
  }
  &-logo {
    @apply flex  flex-col;
    .logo {
      @apply text-gray-900  dark:text-gray-50 font-bold text-2xl;
      & + span {
        @apply text-gray-400 text-sm;
      }
    }
  }
  &-menu {
    @apply hidden w-full md:block md:w-auto;
    &-list {
      @apply flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 
      md:flex-row md:items-center md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white 
      dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
      &-item a {
        @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
      }
    }
    .btn-dark-mode {
      background-color: #fffefe30;
      color: #bdbdbd;
      &:hover {
        background-color: #b6b6b68a;
        color: #bdbdbd;
      }

      @apply rounded-md p-1 hover:bg-gray-700 duration-300;
    }
  }
}
