@tailwind base;@tailwind components;@tailwind utilities;.nav{@apply bg-gray-200 border-gray-300 dark:border-gray-900 border-b-2 px-2 sm:px-4 py-2.5 dark:bg-gray-900 relative z-50}.nav-container{@apply container flex flex-wrap
    justify-center md:justify-between
    flex-col-reverse md:flex-row 
    items-center mx-auto text-center}.nav-logo{@apply flex  flex-col}.nav-logo .logo{@apply text-gray-700  font-bold text-2xl dark:text-gray-50}.nav-logo .logo+span{@apply text-gray-400 text-sm}.nav-menu{@apply block w-auto}.nav-menu-list{@apply flex flex-row items-center space-x-8 p-4 mt-0 text-sm font-medium}.nav-menu-list-item a{@apply block
         py-2 pr-4 pl-3 text-gray-700 rounded
          md:hover:bg-transparent 
         md:border-0 md:hover:text-blue-700 md:p-0 
         dark:text-gray-400
         md:dark:hover:text-white
         dark:hover:bg-gray-700 dark:hover:text-white 
          md:dark:hover:bg-transparent}.nav-menu .btn-dark-mode{width:36px;height:36px;background-color:#3e4350;color:#bdbdbd;@apply rounded-md p-2 hover:bg-gray-700 duration-300 flex items-center}.nav-menu .btn-dark-mode:hover{background-color:#b6b6b68a;color:#bdbdbd}*{transition:0.3s all}::-webkit-scrollbar{width:8px}::-webkit-scrollbar-track{background:#111827}::-webkit-scrollbar-thumb{background:#1f2937}::-webkit-scrollbar-thumb:hover{background:#374151}
